@use "../../scss/abstracts/color" as color;
.app__header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 18px 50px;

  button {
    background-color: unset;
    border: unset;
    outline: unset;
    cursor: pointer;
    color: #454545;
  }

  &__logo {
    a {
      display: block;
      img {
        height: 40px;
        width: 100%;
      }
    }
  }

  &__nav-bar {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 14px;
    a {
      text-decoration: unset;
      color: #454545;
    }
  }

  &__icons {
    display: flex;
    align-items: center;
    gap: 15px;
    font-size: 12px;
    cursor: pointer;
    color: #454545;

    a {
      color: #454545;
      text-decoration: unset;
    }

    .rethink-cart {
      height: 1em;
      width: 1em;
      fill: currentColor;
      vertical-align: middle;
      stroke-width: 1px;
      background: none;
      pointer-events: none;
      display: flex;
      svg,
      span {
        flex-shrink: 0;
      }
      &-count {
        margin-top: -5px;
        margin-left: 3px;
      }
    }
  }
}
