@use "./abstracts/color" as color;
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

#root {
  position: relative;
  font-family: "Nunito Sans", sans-serif;
}

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

body {
  /* 3. Add accessible line-height */
  line-height: 1.5;
  /* 4. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/*
  9. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

// Header css
h1 {
  font-size: 20px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 17px;
}

h4 {
  font-size: 16px;
}
h5 {
  font-size: 15px;
}

h6 {
  font-size: 14px;
}

.error-message {
  background: #e4c4c4;
  color: #cb2b2b;
  display: block;
  padding: 10px 20px;
  white-space: normal;
  word-break: break-all;
  word-break: break-word;
  text-shadow: none;
}

.success-message {
  background: #d2e4c4;
  color: #307a07;
  display: block;
  padding: 10px 20px;
  white-space: normal;
  word-break: break-all;
  word-break: break-word;
  text-shadow: none;
}

.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.loader-container {
  margin: 0 auto;
  align-items: center;
}

.heading {
  font-weight: 400;
  font-style: normal;
  color: #454545;
  transition: color 0.2s ease-in-out;
}
