@use "../scss/abstracts/color" as color;
.reset-pwd {
  color: color.$light-grey;
  font-size: 14px;
  margin-top: 4px;

  &:hover {
    text-decoration-thickness: 1.5px;
  }
}

.register {
  color: color.$primary-blue;
  font-size: 14px;
  margin: 20px auto;
  margin-bottom: unset;

  &:hover {
    text-decoration-thickness: 1.5px;
  }
}

.login-btn {
  margin-top: 20px;
  background-color: color.$primary-blue;
  color: #fff;
  border: unset;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
    transform-origin: center;
  }
}
