@use "../scss/abstracts/color" as color;
.app__thank-you {
  text-align: center;
  margin-left: 10%;
  margin-right: 10%;

  &__header {
    font-size: 56px;
    font-weight: 400;
  }

  &__desc {
    margin-top: 10px;
  }

  hr {
    margin-top: 20px;
  }

  &__btn {
    display: block;
    width: fit-content;
    margin: 20px auto;
    margin-bottom: unset;
    text-decoration: unset;
    background-color: color.$primary-blue;
    color: color.$white;
    border: unset;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
    transition: transform 0.3s ease;

    &:hover {
      transform: scale(1.05);
      transform-origin: center;
    }
  }
}
